#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define MOUSE 1
#define SYMBOL 2
#define NUMBER 3
#define FUNCTION 4
#define ARROWS 5
#define RESET 6

#define KEYS_L  0 1 2 3 4 5  12 13 14 15 16 17  24 25 26 27 28 29
#define KEYS_R  6 7 8 9 10 11  18 19 20 21 22 23  30 31 32 33 34 35
#define THUMBS  36 37 38 39 40

&sk {
  release-after-ms = <600>;
  quick-release;
};

&sl {
  ignore-modifiers;
};

&mt {
  flavor = "tap-preferred";
};

&lt {
  flavor = "balanced";
  tapping-term-ms = <200>;
  quick-tap-ms = <175>;
};

&caps_word {
  /delete-property/ ignore-modifiers;
};

/ {
  behaviors {
    hml: hml {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <2000>;
      quick-tap-ms = <175>;
      require-prior-idle-ms = <250>;
      hold-trigger-key-positions = <KEYS_R THUMBS>;
      hold-trigger-on-release;
      bindings =
        <&kp>,
        <&kp>;
    };

    hmr: hmr {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <2000>;
      quick-tap-ms = <175>;
      require-prior-idle-ms = <250>;
      hold-trigger-key-positions = <KEYS_L THUMBS>;
      hold-trigger-on-release;
      bindings =
        <&kp>,
        <&kp>;
    };
    hml_s: hml_s {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <2000>;
      quick-tap-ms = <175>;
      require-prior-idle-ms = <0>;
      hold-trigger-key-positions = <KEYS_R THUMBS>;
      hold-trigger-on-release;
      bindings =
        <&kp>,
        <&kp>;
    };

    hmr_s: hmr_s {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <2000>;
      quick-tap-ms = <175>;
      require-prior-idle-ms = <0>;
      hold-trigger-key-positions = <KEYS_L THUMBS>;
      hold-trigger-on-release;
      bindings =
        <&kp>,
        <&kp>;
    };


    smart_shift: smart_shift {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&sk LSHIFT>, <&caps_word>;
      mods = <(MOD_LSFT)>;
    };
  };

  combos {
    compatible = "zmk,combos";
    timeout-ms = <20>;
    require-prior-idle-ms = <250>;

    combo_reset_layer_left {
      key-positions = <20 24>;
      bindings = <&to RESET>;
    };
    combo_reset_layer_right {
      key-positions = <25 29>;
      bindings = <&to RESET>;
    };
    combo_reset_central {
      key-positions = <32 33>;
      bindings = <&bootloader>;
      require-prior-idle-ms = <2000>;
    };
    combo_normal_right {
      key-positions = <7 8>;
      bindings = <&to BASE>;
    };
    combo_normal_left {
      key-positions = <3 4>;
      bindings = <&to BASE>;
    };
    combo_fn {
      key-positions = <27 28>;
      bindings = <&sl FUNCTION>;
    };
    combo_left_hand_arrows {
      key-positions = <1 5>;
      bindings = <&to ARROWS>;
    };
    combo_right_hand_arrows {
      key-positions = <6 10>;
      bindings = <&to ARROWS>;
    };
    combo_numbers_left {
      key-positions = <0 5>;
      bindings = <&to NUMBER>;
    };
    combo_unlock {
      key-positions = <0 4>;
      bindings = <&studio_unlock>;
    };
  };
  chosen {
    zmk,physical-layout = &charybdis_6col_layout;
  };

  keymap {
    compatible = "zmk,keymap";

    Base {
      display-name = "Base";
      bindings = <
        &lt FUNCTION ESCAPE       &kp Q              &kp W            &kp E             &kp R             &kp T                &kp Y                 &kp U            &kp I               &kp O             &kp P                &kp LEFT_BRACKET
        &kp TAB                   &hml LCTRL A       &hml LALT S      &hml LSHFT D      &hml LGUI F       &kp G                &kp H                 &hmr RGUI J      &hmr RSHFT K        &hmr RALT L       &hmr RCTRL SEMI      &kp SINGLE_QUOTE
        &kp LSHFT                 &lt MOUSE Z        &kp X            &kp C             &kp V             &kp B                &kp N                 &kp M            &kp COMMA           &kp DOT           &kp FSLH             &kp RSHFT
                                                                      &kp LCTRL         &lt 2 SPACE       &mt LGUI RET         &lt NUMBER SPACE      &kp BSPC
      >;
    };
    Mouse {  
      display-name = "Mouse";
      bindings = <
        &trans                    &trans             &trans           &trans           &trans             &trans                &trans                &kp LG(C)       &kp LG(V)           &trans             &trans               &trans 
        &trans                    &kp LCTRL          &kp LALT         &kp LSHFT        &kp LGUI           &trans                &trans                &mkp MB1        &mkp MB2            &mkp MB3           &trans               &trans
        &trans                    &trans             &mo 4            &mo 3            &mo 2              &trans                &trans                &kp RGUI        &kp RSHFT           &kp RALT           &kp RCTRL            &trans
                                                                      &mkp MB1          &mkp MB2           &mkp MB3              &trans                &trans 
      >;
    };

    Sym {
      display-name = "Symbol";
      bindings = <
        &trans &kp HASH           &kp AT_SIGN  &kp LEFT_BRACE       &kp RIGHT_BRACE       &kp PIPE              &kp GRAVE &kp TILDE &kp LESS_THAN &kp GREATER_THAN &kp BACKSLASH        &trans
        &trans &kp EXCLAMATION    &kp DOLLAR   &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp COLON             &kp PLUS  &kp MINUS &kp SLASH     &kp ASTRK        &kp SINGLE_QUOTE     &trans
        &trans &none              &kp PERCENT  &kp LEFT_BRACKET     &kp RIGHT_BRACKET     &kp QUESTION          &kp AMPS  &kp EQUAL &kp UNDER     &kp PERIOD       &kp DOUBLE_QUOTES    &trans
                    &none                &none                 &trans                &none     &none                                                                     
      >;
    };
 
    Num {
      display-name = "Number";
      bindings = <
        &trans   &kp RGUI      &kp N7  &kp N8  &kp N9  &kp LC(MINUS)          &kp LC(EQUAL)   &kp HOME       &kp UP     &kp END           &kp RGUI    &trans
        &trans   &kp RALT      &kp N4  &kp N5  &kp N6  &kp LG(SLASH)          &kp LA(ENTER)   &kp LEFT       &kp DOWN   &kp RIGHT         &kp RALT    &trans
        &trans   &kp RCTRL     &kp N1  &kp N2  &kp N3  &none                  &kp LA(SPACE)   &kp RGUI       &kp RSHFT  &kp RALT          &kp RCTRL   &trans
                                &kp DOT         &kp N0          &kp SPACE              &trans        &none
      >;
    };

    Fun {
      display-name = "Function";
      bindings = <
        &trans    &kp LC(LA(DEL)) &kp F7 &kp F8 &kp F9 &kp F10          &none                     &kp LC(2)        &kp LC(3)    &kp LC(4)  &none       &trans        
        &trans    &none           &kp F4 &kp F5 &kp F6 &kp F11          &kp LC(LA(LG(LS(ENTER)))) &kp RGUI         &kp LSHFT    &kp RALT   &kp RCTRL   &trans     
        &trans    &none           &kp F1 &kp F2 &kp F3 &kp F12          &kp LC(LG(LS(4)))         &kp RGUI(COMMA)  &none        &none      &none       &trans
                               &none  &none  &none            &none &none
      >;
    };

    ARROWS {
      display-name = "Arrows";
      bindings = <
        &trans &none     &kp LG(C)    &kp UP     &kp LG(V)      &none                &none  &kp LG(C)     &kp UP      &kp LG(V)     &none        &trans      
        &trans &kp LALT  &kp LEFT     &kp DOWN   &kp RIGHT      &none                &none  &kp LEFT      &kp DOWN    &kp RIGHT  &kp RALT     &trans   
        &trans &kp LCTRL &kp LALT     &kp LSHFT  &kp LGUI       &none                &none  &kp RGUI      &kp RSHFT   &kp RALT   &kp RCTRL    &trans
                    &kp BSPC &kp SPACE &kp RET          &kp SPACE &kp BSPC                
      >;
    };

    Reset {
      display-name = "Reset";
      bindings = <
        &trans &none &none &none &none &none                &none &none &none &none &none &trans      
        &trans &none &none &none &none &none                &none &none &none &none &none &trans   
        &trans &none &none &none &none &none                &none &none &none &none &none &trans
                    &none &none &bootloader          &bootloader &none                
      >;
    };
  };
};









